<!DOCTYPE html>
<html lang="en">
<head>
  <title>API test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{{ url_for('static', filename='js/src.js')}}"></script>
</head>
<body>

<div class="container">
  <h2>Test form</h2>
  <div>
    <div class="form-group">
      <label for="email">Html source code:</label>
      <textarea class="form-control" id="textarea_code" placeholder="Iput Html  Code" name="code"></textarea>
    </div>
    <button id="btn_submit" class="btn btn-default">Submit</button>
</div>
  <div id="result">
    <h3 id="words_number"></h3>
    <div>
      <h3>Content</h3>
      <div id="words"></div>
      <br/>
      <br/>
      <h3>Json Result</h3>
      <div id="textjson"></div>
    </div>
  </div>
</div>
</body>
</html>
